html
  head
    title= title
    link(rel="stylesheet" href="style.css")

  body
    h1 Hi dude. Welcome to this screen 

    h3 Name: 
    h2(style="color: red;")= name
  
    h3 Your Age: 
    h2(style="color: red;")= age